@mixin root-vars(){
  :root {
    @each $key, $var in $vars {
      --bl-#{$key}: #{$var};
    }
  }
}

@mixin var($property, $varName) {
  #{$property}: map-get($vars, $varName);
  #{$property}: var(--bl-#{$varName});
}

@mixin print-styles($map, $keys...){
  $i: 1;
  $length: length($keys);
  @while $length >= $i  {
    $map: map-get($map, nth($keys, $i));
    $i: $i + 1;
  }

  @each $property, $value in $map {
    @if type-of($value) != map {
      #{$property}: $value;
    }
  }
}
