@import "scss/reset";
@import "scss/normalize";
@import "scss/mixins";
@import "scss/styleguide";
@import "scss/main";


$color-white: white;
$color-lightest-gray: #f8f9fa;
$color-light-gray: #ced4da;
$color-gray: #6c757d;
$color-dark-gray: #444;
$color-darker-gray: #343a40;
$color-darkest-gray: #222;

$color-primary: #28a745;
$color-secondary: #6c757d;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;

$font-normal: 16px;
$font-family-sans-serif: Roboto,"Helvetica Neue",Arial,sans-serif;
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$border-radius: .15em;

$input-height: calc(2.25em + 2px);
$input-label-size: 1em;
$input-button-color: white;

$offset-1: 5px;
$offset-2: $offset-1*2;
$offset-3: $offset-1*3;
$offset-4: $offset-1*4;

// Setup theme variables
$vars: (
  // Fonts
        font-base-size: $font-normal,
  // Colors
        color-primary: $color-primary,
        color-secondary: $color-secondary,
        color-success: $color-success,
        color-info: $color-info,
        color-warning: $color-warning,
        color-danger: $color-danger,
        color-gray: $color-gray,
  // Container
        container-padding: $offset-4,
        container-background-color: $color-lightest-gray,
  // Fonts
        input-height: $input-height,
        input-text-color: $color-dark-gray,
        input-placeholder-color: $color-gray,
        input-label-size: $input-label-size,
        input-button-color:$input-button-color,
  // Border
        border-color: $color-light-gray,
        border-radius: $border-radius,
  // Breakpoints
        breakpoint-xs: 0,
        breakpoint-sm: 576px,
        breakpoint-md: 768px,
        breakpoint-lg: 992px,
        breakpoint-xl: 1200px,
  // Fonts
        font-family-sans-serif: $font-family-sans-serif,
        font-family-monospace: $font-family-monospace,
);

// Setup root variables
@include root-vars;

// Setup styleguide
@include styleguide;

// Wrap styles inside a theme class
.bl-theme {
  @include reset;
  @include normalize;
  @include main;

  label {
    @include var(font-size, input-label-size);
  }

  &.bl-theme-fonts {
    @include var(font-size, font-base-size);
    @include var(font-family, font-family-sans-serif);
  }

  .form-inputs, .form-outputs {
    margin-bottom: 2em;
  }

  &.bl-grid-rows,
  &.bl-grid-rows-reversed
  {
    .form-inputs {
      .form-group {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
      }
    }
  }


  &.bl-grid-rows {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    .form-inputs {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      @include var(border-bottom-color, border-color);
    }
    .form-outputs {
      margin-bottom: 0;
    }
  }

  &.bl-grid-rows-reversed {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    .form-outputs {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      @include var(border-bottom-color, border-color);
    }
    .form-inputs {
      margin-bottom: 0;
    }
  }

  &.bl-inputs-columns-2,
  &.bl-inputs-columns-3
  {
    .form-inputs {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: stretch;
    }
  }

  &.bl-inputs-columns-2 .form-inputs {
    & > div {
      width: 50%;
      &:nth-child(2n + 1){
        padding-right: $offset-4;
      }
      &:nth-child(2n + 2){
        padding-left: $offset-4;
      }
      &:last-child {
        margin-left: auto;
        padding-right: 0;
        padding-left: $offset-4;
      }
    }
  }
  &.bl-inputs-columns-3 .form-inputs {
    & > div {
      width: 33.333333333%;
      &:nth-child(2n + 1){
        padding-right: $offset-2;
      }
      &:nth-child(2n + 2){
        padding-right: $offset-2;
        padding-left: $offset-2;
      }
      &:nth-child(2n + 3){
        padding-left: $offset-2;
      }
      &:last-child {
        margin-top: calc(var(--bl-input-label-size) + .6em);
        margin-bottom: auto;
        padding-right: 0;
        padding-left: $offset-2;
      }
    }
  }

  &.bl-outputs-columns-2,
  &.bl-outputs-columns-3
  {
    .form-outputs {
      flex: 1 1 auto;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
    }
  }

  &.bl-outputs-columns-2 .form-outputs {
    & > div {
      width: 50%;
      &:nth-child(2n + 1){
        padding-right: $offset-4;
      }
      &:nth-child(2n + 2){
        padding-left: $offset-4;
      }
    }
  }
  &.bl-outputs-columns-3 .form-outputs {
    & > div {
      width: 33.333333333%;
      &:nth-child(2n + 1){
        padding-right: $offset-2;
      }
      &:nth-child(2n + 2){
        padding-right: $offset-2;
        padding-left: $offset-2;
      }
      &:nth-child(2n + 3){
        padding-left: $offset-2;
      }
    }
  }

  &.bl-grid-columns,
  &.bl-grid-columns-reversed
  {
    .form-inputs, .form-outputs {
      padding-bottom: 2em;
      margin-bottom: 0;
    }
  }
  &.bl-grid-columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    & > div {
      width: 50%;
      &:first-child {
        padding-right: $offset-4;
      }
      &:last-child {
        padding-left: $offset-4;
        border-left-width: 1px;
        border-left-style: solid;
        @include var(border-left-color, border-color);
      }
    }
  }
  &.bl-grid-columns-reversed {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: stretch;
    & > div {
      width: 50%;
      &:first-child {

        padding-left: $offset-4;
        border-left-width: 1px;
        border-left-style: solid;
        @include var(border-left-color, border-color);
      }
      &:last-child {
        padding-right: $offset-4;
      }
    }
  }
}